################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/cicd/cicd/obj/Release/net8.0
/cicd/cicd/obj
/cicd/.vs
